[Unit]
Description=spinta daemon
Requires=spinta.socket
After=network.target

[Service]
Environment="AUTHLIB_INSECURE_TRANSPORT=1"
PIDFile=/run/spinta/pid
User=atviriduomenys
Group=www-data
WorkingDirectory={{ home }}
ExecStart={{ home }}/env/bin/gunicorn --timeout 300 --pid /run/spinta/pid -w 4 -k uvicorn.workers.UvicornWorker spinta.asgi:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
