<VirtualHost *:80>
    ServerAdmin sirexas@gmail.com
    ServerName pycon.lt

    Redirect / http://www.pycon.lt/

    ErrorLog /var/log/apache2/pycon.lt/error.log
    CustomLog /var/log/apache2/pycon.lt/access.log combined
</VirtualHost>

{% if letsencryptcert.stat.exists %}
<VirtualHost *:443>
    ServerAdmin sirexas@gmail.com
    ServerName pycon.lt

    Redirect / https://www.pycon.lt/

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/pycon.lt/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/pycon.lt/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/pycon.lt/fullchain.pem

    ErrorLog /var/log/apache2/pycon.lt/error.log
    CustomLog /var/log/apache2/pycon.lt/access.log combined
    CustomLog /var/log/apache2/pycon.lt/ssl.log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>
{% endif %}
