[Unit]
Description=ubuntu.lt gunicorn daemon
Requires={{ slug }}.socket
After=network.target

[Service]
PIDFile=/run/{{ slug }}/pid
User={{ slug }}
Group=www-data
WorkingDirectory={{ home }}
ExecStart=/opt/ubuntu.lt/venv/bin/gunicorn --pid /run/{{ slug }}/pid -w 4 -b 127.0.0.1:8120 project.wsgi.prod
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
